Django
djangorestframework
django-cors-headers
psycopg2-binary
dj-database-url
python-dotenv
pillow
cloudinary
django-cloudinary-storage
whitenoise
psycopg2-binary    # for PostgreSQL
django-cors-headers
gunicorn